<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords"
          content="体坛加,体坛+,体坛,体坛周报,体坛传媒,体坛+app,体坛网,体育,体育新闻,NBA,CBA,中超,英超,西甲,德甲,法甲,意甲,欧冠,国足,高尔夫,网球,亚冠,世界杯,校园体坛,体坛风云人物,体坛新势力,足球周刊,户外,汽车画刊,跑者世界,扣篮,全体育,视频,比赛,直播,录播,集锦,赛程,积分榜">
    <meta name="description"
          content="“体坛加”是体坛传媒旗下《体坛周报》及诸多体育类杂志的唯一官方APP。主要有以下栏目：中国足球、国际足球、CBA、NBA、综合体育、奥运、彩票、视频、竞猜等，汇集权威的一手体育资讯以及国内外顶尖资深体育媒体人的深度观点。">
    <title>体坛+_体坛周报新闻客户端</title>
</head>
<body>
<div class="page">
    <%= require('html-loader!../../layout/header.html') %>
    <div class="main">
        <h1>main</h1>
    </div>
    <%= require('html-loader!../../layout/footer.html') %>
</div>
</body>
</html>